* {
  margin: 0;
  padding: 0;
}

body {
    margin: 20px;
    font-family: Arial, "Helvetica Neue", sans-serif;
    text-align: center;
    background: black;
    overflow: hidden;
  }
  /*canvas {
    display: inline;
    border: 1px solid #ccc;
    margin: 20px;
  }*/

  #graph {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 1px;
    /*border: 1px solid green;*/
    transform: perspective(700px) rotateX(45deg);
    transform-style: preserve-3d;
  }

  #graph canvas {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: visible;
    /*border: 1px solid rgba(255,255,255,0.8);*/

    /*transform-origin: right center;*/
    /*transition: opacity 0.5s;*/
  }

  .echo canvas {
    opacity: 0;
    -webkit-animation: echo 3s infinite;
    animation: echo 3s infinite;
  }

  .grid canvas {
    opacity: 0;
    -webkit-animation: echo 4s infinite;
    animation: echo 4s infinite;
  }

  .circle-x canvas,
  .circle-y canvas,
  .wave canvas,
  .vertigo canvas {
    opacity: 0;
    -webkit-animation: fade-in 4s 1 forwards;
    animation: fade-in 4s 1 forwards;
  }

  

  .scan canvas {
    border: 1px solid rgba(255,255,255,0.25);
  }

  #ctrl {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: black;
    overflow: hidden;
    padding: 4px;
    font-size: 10px;
    line-height: 24px;
    color: #999;
    text-transform: uppercase;
    list-style: none;
  }
  #ctrl * {
    float: left;
    margin-right: 10px;
  }
  #ctrl .active {
    color: white;
  }

  #ctrl_mouse {
    cursor: pointer;
  }

  #ctrl_program {
    list-style: none;
  }

  #ctrl_program .active {
    position: relative;
  }
  #ctrl_program .active::after {
    content: '';
    background: white;
    position: absolute;
    bottom: 4px;
    left: 0;
    height: 2px;
    width: 100%;
    transform-origin: top left;
    -webkit-animation: load 15s;
    animation: load 15s;
  }




@keyframes load {
  0% {
    transform: scaleX(0) translateZ(0);
  }
  100% {
    transform: scaleX(1) translateZ(0);
  }
}
@-webkit-keyframes load {
  0% {
    transform: scaleX(0) translateZ(0);
  }
  100% {
    transform: scaleX(1) translateZ(0);
  }
}


  @-webkit-keyframes echo {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes echo {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }